@if (todo()) {
  <mat-card class="todo-card">
    <mat-card-header>
      <mat-card-title class="todo-card-owner">{{ todo().owner }}</mat-card-title>
      <mat-card-subtitle class="todo-card-body">{{ todo().body }}</mat-card-subtitle>
    </mat-card-header>
    @if (!simple()) {
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon matListItemIcon>dataset</mat-icon>
            <p matListItemTitle>Role</p>
            <!--
            We had to put both the `role` and `age` entries on a single line. Otherwise
            we got an annoying leading space in front of the values.
            -->
            <p matListItemLine class="todo-card-role">{{ todo().role }}</p>
          </mat-list-item>
          <mat-divider [inset]=true></mat-divider>
          <mat-list-item>
            <mat-icon matListItemIcon>schedule</mat-icon>
            <p matListItemTitle>Age</p>
            <p matListItemLine class="todo-card-age">{{ todo().age }}</p>
          </mat-list-item>
          <mat-divider [inset]=true></mat-divider>
          <mat-list-item>
            <a href="mailto:{{todo().email}}"  matListItemIcon><mat-icon>mail</mat-icon></a>
            <p matListItemTitle>Email</p>
            <a matListItemLine class="todo-card-email" href="mailto:{{todo().email}}">{{todo().email}}</a>
            <a href="mailto:{{todo().email}}" matListItemMeta mat-icon-button><mat-icon>open_in_new</mat-icon></a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    }
    @if (simple()) {
      <mat-card-actions>
        <button mat-button data-test="viewProfileButton" [routerLink]="['/users', todo()._id]">View Profile</button>
      </mat-card-actions>
    }
  </mat-card>
}
