// This sets the font size to be the same for both the Angular Material
// list item title and list item line.
.mat-mdc-list-item {
  &-title,
  &-line {
    font-size: 1rem;
  }
}

// Capitalize the todo status when displaying it in the todo card.
.todo-card-status {
  text-transform: capitalize;
}
