<div class="flex-row">
  <div class="flex-1">
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="todo-list-title">Todos</mat-card-title>
      </mat-card-header>
      <mat-card-content>

      <div class="flex-row gap-8 flex-wrap">

        <mat-form-field class="input-field">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="status" data-test="todoStatusSelect">
              <mat-option>--</mat-option>
              <mat-option value="complete">Complete</mat-option>
              <mat-option value="incomplete">Incomplete</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
        </mat-form-field>
      </div>
      </mat-card-content>
    </mat-card>
    </div>
  </div>

  <div class="flex-row">
  @if (serverFilteredTodos()) {
  <div class="flex-1">
    <div>
      <div class="todo-cards-container flex-row gap-8 flex-wrap">
        @for (todo of filteredTodos(); track todo._id) {
        <app-todo-card [simple]="true" class="todo-card" [todo]="todo"></app-todo-card>
        }
      </div>
    </div>
  </div>
  } @else {
          <div class="flex-1" class="user-error">
            <mat-error>
            There was a problem loading the todos. Possibly the server is down or perhaps there are network
            issues.
            </mat-error>
            <mat-error>
            Please wait a bit and try again or start the server.
            </mat-error>
          </div>
        }
    </div>

<div class="flex-row gap-8 flex-wrap">

