<div class="flex-row">
  <div class="flex-1">
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="todo-list-title">Todos</mat-card-title>
      </mat-card-header>
      <mat-card-content>

      <div class="flex-row gap-8 flex-wrap">

          <mat-form-field class="input-field">
            <mat-label>Owner</mat-label>
            <input matInput data-test="todoOwnerInput" placeholder="Filter by owner" [(ngModel)]="owner">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Body</mat-label>
            <input matInput data-test="todoBodyInput" placeholder="Filter by body" [(ngModel)]="body">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <input matInput data-test="todoCategoryInput" placeholder="Filter by category" [(ngModel)]="category">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

        <mat-form-field class="input-field">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="status" data-test="todoStatusSelect">
              <mat-option>--</mat-option>
              <mat-option value="complete">Complete</mat-option>
              <mat-option value="incomplete">Incomplete</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
        </mat-form-field>

        <mat-form-field class="input-field">
            <mat-label>Limit</mat-label>
            <input matInput data-test="todoLimitInput" placeholder="Limit number of todos" [(ngModel)]="limit">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

        <mat-form-field class="input-field">
            <mat-label>OrderBy</mat-label>
            <mat-select [(ngModel)]="orderBy" data-test="todoOrderBySelect">
              <mat-option>--</mat-option>
              <mat-option value="owner">Owner</mat-option>
              <mat-option value="status">Status</mat-option>
              <mat-option value="body">Body</mat-option>
              <mat-option value="category">Category</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
        </mat-form-field>

      </div>
      </mat-card-content>
    </mat-card>
    </div>
  </div>

  <div class="flex-row">
  @if (serverFilteredTodos()) {
  <div class="flex-1">
    <div>
      <div class="todo-cards-container flex-row gap-8 flex-wrap">
        @for (todo of filteredTodos(); track todo._id) {
        <app-todo-card [simple]="true" class="todo-card" [todo]="todo"></app-todo-card>
        }
      </div>
    </div>
  </div>
  } @else {
          <div class="flex-1" class="todo-error">
            <mat-error>
            There was a problem loading the todos. Possibly the server is down or perhaps there are network
            issues.
            </mat-error>
            <mat-error>
            Please wait a bit and try again or start the server.
            </mat-error>
          </div>
        }
    </div>

<button mat-fab class="add-todo-fab" matTooltip="Add Todo" matTooltipPosition="left" routerLink="/todos/new"
  data-test="addTodoButton">
  <mat-icon class="md-24" aria-label="Add Todo">add</mat-icon>
</button>
